@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'roboto', sans-serif;
}



body {
    background-color: var(--grey-color);
}

:root {
    --primary-color: #1992D4;
    --secondary-color: #FACC15;
    --text-color: #fff;
    --grey-color: #E2E8F0;
    --grey-text-color: #7E7E7E;
    --black: #000;
}

.dark-mode {
    --primary-color: #FACC15;
    --secondary-color: #1992D4;
    --text-color: #285999;
    --grey-color: #254d82;
    --grey-text-color: #7E7E7E;
    --black: #fff;
}

button:hover {
    /* opacity: 0.9; */
    box-shadow: 0px 8px 1px -2px rgba(250, 204, 21, 0.8);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.container {
    height: 1068px;
}


/* main-content */

.container .main-content {
    background-color: var(--grey-color);
    padding: 20px 30px;
    display: grid;
    /* grid-template: repeat(auto-fit, minmax(300px, 1fr)) / 3fr 1fr ; */
    grid-template: 100px 1fr 1fr  / 2fr 1fr 1fr;
    gap: 20px;
}

.main-content h2 {
    font-size: 1.3rem;
    color: var(--primary-color);
}

/* my-library */
.container .my-library {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.my-library h1 {
    color: var(--secondary-color);
}

.my-library .book-icon {
    width: 32px;
    height: 32px;
}

.my-library .book-icon:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

/* your books */

.container .your-books {
    grid-row: 2/4;
    grid-column: 1/3;
}
.main-content .your-books {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}

.your-books .books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.your-books .book-h h2 {
    font-size: 1.4rem;
}

.books .book {
    background-color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    border-left: 20px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* box-shadow: 12px 12px 1px -5px rgba(250, 204, 21, 0.8); */
    max-height: 250px;
}

.books .book:hover {
    box-shadow: 12px 12px 1px -5px rgba(250, 204, 21, 0.8);
    transform: translateY(-10px);
    transition: all 0.3s ease-out;
}

.your-books .books .tag {
    display: flex;
}

.your-books .books strong {
    color: var(--primary-color);
    padding-right: 5px;
    font-size: 1.1rem;
}

.your-books .books .icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.your-books .books .icons span {
    width: 24px;
    height: 24px;
}

.your-books .books p {
    color: var(--grey-text-color);
    font-size: 0.8rem;
}

.your-books .books h4 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.books .status {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* new-books */
.main-content .new-books {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}

.main-content .new-books h2 {
    color: var(--primary-color);
    font-size: 1.4rem;
}

.new-books .sections {
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2); */
}

.new-books .create-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
}

#create-nb {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.new-books .sections h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.new-books .sections p {
    color: var(--grey-text-color);
    font-size: 0.8rem;
}

form legend {
    font-size: 1.2rem;
    color: var(--primary-color);
}

form {
    display: none;
}

.sections .book-form-f {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



form .form-group {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

form .form-group label {
    width: 35%;
    /* flex: 1; */
    color: var(--primary-color);
    font-size: 1rem;
    margin-bottom: 5px;
}

form .form-group input {
    min-width: 60%;
    /* flex: 1; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--grey-color);
    color: var(--primary-color);
}

form .form-group input:focus {
    outline: none;
    border-color: var(--primary-color);
}

form button {
    width: 100px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--secondary-color);
}

form .form-group select {
    min-width: 60%;
    /* flex: 1; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--grey-color);
    color: var(--primary-color);
}

form .form-group select:focus {
    outline: none;
    border-color: var(--primary-color);
}

form .form-group select option {
    padding: 5px;
    color: var(--primary-color);
}

form .form-group select option:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

form .form-group select option:checked {
    background-color: var(--primary-color);
    color: var(--text-color);
}

form .form-group select option:focus {
    background-color: var(--primary-color);
    color: var(--text-color);
}

form .form-group select option:active {
    background-color: var(--primary-color);
    color: var(--text-color);
}


/* Trending */
.trending {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}

.trending .trends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text-color);
    padding-left: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2); */
}

.trending .trend {
    display: flex;
    gap: 5px;
    padding: 20px 0;
}

.trend img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.trends h4 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.trends p {
    font-size: 0.8rem;
    color: var(--grey-text-color);
}

.trend .img {
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {

.container .main-content {
    display: grid;
}
}


@media (max-width: 760px) {

.container .main-content {
    display: grid;
    grid-template-rows: 100px 1fr 400px 400px;
    grid-template-columns: 1fr;
}

.container .my-library {
    grid-row: 1/2;
    grid-column: 1/2;
}

.container .your-books {
    grid-row: 2/3;
}

.container .new-books {
    grid-row: 3/4;
}

.container .trending {
    grid-row: 4/5;
}

}